{% extends 'base.html.twig' %}
{% block body %}

</style>
  <div class="page-header text-left path">
    <h4><b>Cadastro</b></h4>
  </div>

  <div class="container" style="padding-left:30px; padding-right:30px; padding-top:10px;">
      <form class="form-horizontal" enctype="multipart/form-data" action="/vacas/adiciona" method="post">

          <input type="hidden" name="tipo" value="adicionada">
          <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
               <div class="form-group">
                 <label for="age">Idade (<span id="mySpan">1</span>)</label>
                 <input type="range" name="age" id="age" class="form-control input-md" tabindex="1" required="required" min="1" max="20"  title="Anos de idade" value="1">
               </div>
               <div class="form-group">
                 <label for="weight">Peso</label>
                 <div class="input-group">
                   <input type="number" name="weight" id="weight" class="form-control input-md" tabindex="2" required="required" maxlength="8">
                   <span class="input-group-addon"><span class="glyphicon glyphicon-scale"></span></span>
                 </div>
               </div>
               <div class="form-group">
                 <label for="price">Preço</label>
                 <div class="input-group">
                   <span class="input-group-addon">R$</span>
                   <input type="number" name="price" id="price" class="form-control input-md" tabindex="3" required="required" maxlength="15" title="Valor Monetário">
                   <span class="input-group-addon">.00</span>
                 </div>
               </div>
               <div class="form-group">
                 <button type="button" class="btn btn-default" tabindex="5" onclick="javascript:document.location = '/vacas';">Cancelar</button>
                 <button type="submit" class="btn btn-primary" tabindex="4"><span class="glyphicon glyphicon-plus"></span>  Adicionar</button>
               </div>
             </div>
          </div>
      </form>
  </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

var $range = document.querySelector('#age'),
  $value = document.querySelector('#mySpan');

$range.addEventListener('input', function() {
  $value.textContent = this.value;
});

</script>
{% endblock %}
