{% extends 'base.html.twig' %}
{% block body %}
  <div class="container col-md-offset-4">
      <form style="padding-top:20px" class="form-horizontal" enctype="multipart/form-data" action="/vacas/adiciona" method="post">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control input-md" tabindex="1" value="{{ vaca.id|e }}" disabled="disabled">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="form-group">
                <label>Peso</label>
                <input type="text" name="weight" id="weight" class="form-control input-md" tabindex="1" value="{{ vaca.weight|e }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="form-group">
                <label>Idade</label>
                <input type="text" name="age" id="age" class="form-control input-md" tabindex="2" value="{{ vaca.age|e }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="form-group">
                <label>Preço</label>
                <input type="text" name="price" id="price" class="form-control input-md" tabindex="3" value="{{ vaca.price|e }}">
              </div>
            </div>
          </div>
          <div class="row">
              <table width="325px">
                <tr>
                  <td align="left">
                    <button type="button" class="btn btn-default" onclick="javascript:document.location = '/vacas';">Cancelar</button>
                  </td>
                  <td align="right">
                    <button type="submit" class="btn btn-primary">Editar</button>
                  </td>
                </tr>
              </table>
          </div>
      </form>
  </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
