.path {
  color:white;
  padding-top: 20px;
  padding-left:10px;
  background:-webkit-linear-gradient(left top, grey, CornflowerBlue );
  height:60px;

}
.indices {
  font-weight: bold;
  font-size: 120%;
  text-align: center;
}

#filtro-id {
  min-width:270px;
}

.valores{
  text-align: center;
}

body {
  overflow-x: hidden;
}
